node_modules/
.expo/
dist/
google-services.json
android/app/google-services.json
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
local.properties
android/local.properties
scripts/run-avd.js
# macOS
.DS_Store



